// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import "app.variables";


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import "app.core";


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app
ion-navbar.toolbar.show-navbar{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);


  h1 {
  margin-top: 2rem;
  font-size: 2.6rem; }

  h2 {
    margin-top: 1.8rem;
    font-size: 2.4rem; }

  h3 {
    font-size: 2.2rem; }

  h4 {
    font-size: 2rem; }

  h5 {
    font-size: 1.8rem; }

  h6 {
    font-size: 1.6rem; }

  small {
    font-size: 75%; }

  ion-label {
  margin: 13px 8px 13px 0; }
}

.item-input ion-label,
.item-select ion-label,
.item-datetime ion-label {
  color: #999; }

  ion-list-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 4rem; }

  ion-list-header,
ion-item-divider {
  margin-left: 0;
  padding-left: 16px;
  border-bottom: 1px solid transparent;
  font-size: 2rem;
  color: #000; }

  ion-list {
  margin: 0 0 16px 0; }
  ion-list .item .item-inner {
    border-bottom: 1px solid transparent; }
  ion-list > .item:first-child,
  ion-list > .item-wrapper:first-child .item {
    border-top: 1px solid transparent; }
  ion-list > .item:last-child,
  ion-list > .item-wrapper:last-child .item {
    border-bottom: 1px solid transparent; }
  ion-list > .item:last-child ion-label,
  ion-list > .item:last-child .item-inner,
  ion-list > .item-wrapper:last-child ion-label,
  ion-list > .item-wrapper:last-child .item-inner {
    border-bottom: 0; }
  ion-list > ion-input:last-child::after {
    left: 0; }
  ion-list ion-item-options button,
  ion-list ion-item-options [button] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1px 0;
    height: calc(100% - 2px);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box; }
    ion-list ion-item-options button::before,
    ion-list ion-item-options [button]::before {
      margin: 0 auto; }
  ion-list .item[no-lines],
  ion-list .item[no-lines] .item-inner {
    border-width: 0; }
  ion-list + ion-list ion-list-header {
    margin-top: -16px;
    padding-top: 0; }

ion-list[inset] {
  margin: 16px 16px 16px 16px;
  border-radius: 2px; }
  ion-list[inset] .item:first-child {
    border-top-width: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  ion-list[inset] .item:last-child {
    border-bottom-width: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
  ion-list[inset] .item-input {
    padding-right: 0;
    padding-left: 0; }
  ion-list[inset] + ion-list[inset] {
    margin-top: 0; }
  ion-list[inset] ion-list-header {
    background-color: #fff; }

ion-list[no-lines] .item,
ion-list[no-lines] .item .item-inner {
  border-width: 0; }

  body {
  font-family: "Segoe UI", "Noto Sans", sans-serif;
  font-size: 1.4rem;
  background-color: #fff; }