<ion-menu [content]="content">
<ion-toolbar favorite class="menuToolbar">
    <ion-avatar item-left>
        <img src="img/avatar-gollum.jpg">
    </ion-avatar>
    <ion-title>Ionic 2 Demo</ion-title>
</ion-toolbar>
<ion-content>
    <ion-list>
        <ion-list-header>
            Html Components
        </ion-list-header>
        <button ion-item *ngFor="let p of pages" menuClose (click)="openPage(p)">
        {{p.title}}
        </button>
        <ion-list-header>
            Native Components
        </ion-list-header>
        <button ion-item *ngFor="let p of nativePages" menuClose (click)="openPage(p)">
        {{p.title}}
        </button>
        <ion-list-header>
            Contact
        </ion-list-header>
        <ion-list-header>
            Settings
        </ion-list-header>        
    </ion-list>
</ion-content>
</ion-menu>
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
